/* Estilo geral (Computador) */
.container {
  width: 400px;
  display: flex;
}

/* Estilo para Telemóveis */
@media (max-width: 300px) {
  .container {
    width: 50%;       /* Ocupa a largura total do ecrã */
    flex-direction: column; /* Se usar flexbox, os itens ficam um por cima do outro */
  }
  
  body {
    font-size: 18px;    /* Aumentar o texto para facilitar a leitura */
  }
}
img {
  max-width: 50%;
  height: auto;
}